.style1 {
  background-color: #00B7FF; /* 水色の背景 */
}

.style2 {
  color: #ff0000;           /* 赤文字 */
}

.style3 {
  font-size: 50px;          /* 大きな文字 */
}

body {
  padding: 50px;
}

div {
  margin-right: 50px;
  display: inline-block;
}
